@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Bartender APP</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Drink Menu</h2>
        <p>
            Here is the list of drinks that we can make for you.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Place an order</h2>
        <p>After the order is place the bartender will make your drink as fast a possible.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>View Orders (Bartender)</h2>
        <p>The bartender can see the orders place so he can properly make the correct drink.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>